body {
  margin: 0;
 font-family: 'Playfair Display' , 'Plus Jakarta Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(58, 56, 56);
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3,h4,h5,h6{
  color: white;
}


.btn-primary {
    background-color: #0f62b6 !important;
    border-color: #0f62b6 !important;
}

.btn-primary:hover {
    background-color: #0f62b6  !important;
    border-color: #0f62b6 !important;
}

.btn-outline-primary {
    color: white !important;
    border-color: #0f62b6  !important;
}

.btn-outline-primary:hover {
    background-color: #0f62b6  !important;
    color: white !important;
}

.navbar.bg-primary {
    background-color: #0f62b6 !important;
}

.card-body{
  background-color: #f8f9fa;
}

a{ 
  text-decoration: none;
  font-weight: 600;
}
